@font-face {
    font-family: letra;
    src: url("https://fonts.google.com/share?selection.family=Playfair+Display:ital,wght@0,400..900;1,400..900");
  }
  
  body {
    background-color: #F2E0C9;
  }
  
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: first baseline;
    gap: 6em;
    height: 2em;
    padding: 3em;
    background-color: #025959;
  }
  .menu {
    background-color: #025959;
    color: #F2E0C9;
    font-family: letra;
    text-decoration: none;
    padding: 0.7em;
    border: 0.1em solid #04ADBF;
    border-radius: 8px;
  }
  
  .menu:hover {
    border-color: #A0A603;
  }

  .logo {
    width: 20em;
  }
  .contenedorlogo {
    display: flex;
    justify-content: flex-end;
    margin-top: -13.7em;
  }

  .text{
display: flex;
flex-direction: column;
align-items: center;
margin-right: 6em;
margin-left: 6em;
  }

 ul, p{
    font-size: 1.2em;
    line-height: 1.5;
  }