<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link href="https://fonts.googleapis.com/css?family=letra" rel="stylesheet"> -->
    <link rel="stylesheet" href="../Stactic/css/main_Index.css">
    <title>LA BUENA VIDA - Otra forma de viajar</title>
    <script src="https://kit.fontawesome.com/a2e2fb6698.js" crossorigin="anonymous"></script>
</head>

<body>
  <div>
    <nav>
      <a class="menu1" href="main_Index.html">Inicio</a>
      <a class="menu1" href="Viajes.html">Actividades</a>
      <a class="menu1" href="paquete.html">Paquetes</a>
      <a class="menu1" href="Nosotros.html">Nosotros</a>
      <a class="menu1" href="Reseñas.html">Reseñas</a>
      <a class="menu1" href="Tu Opinion.html">Deja tu opinión</a>
      <a class="menu1" href="Contacto.html">Contacto</a>
    </nav>
    <div class="contenedorlogo">
      <a href="../Index.html"><img class="logo" src="../Stactic/Assets/logo.png" alt="logo" /></a>
    </div>
  </div>
    <div class="contenedor">
        <main class="contenido">
            <div>
            <div class="slider-frame">
              <ul class="destinos">
                  <li><img src="../Stactic/Assets/IMG/1_carusel_Oscar.jpg" alt=""></li>
                  <li><img src="../Stactic/Assets/IMG/2_carusel_Oscar.jpg" alt=""></li>
                  <li><img src="../Stactic/Assets/IMG/3_carusel_Oscar.JPG" alt=""></li>
                  <li><img src="../Stactic/Assets/IMG/4_carusel_Oscar.JPG" alt=""></li>
              </ul>
            </div>
            <div class="texto">
              <p>
                <h2>LA BUENA VIDA. La  nueva forma de viajar </h2> 
                <br>
                <h3>Encontrá siempre los mejores paquetes turísticos al mejor precio.</h3>
                <br>
                <h3>Nuestros asesores te están esperando para organizar tus sueños.</h3>
                <br>
                <h3>Sin dudas será la experiencia de sus vida.</h3>
                <br>
                <h3>Para nosotros viajar es mucho más que visitar un nuevo destino.
                <br>
                    Viajar es hacer nuevos amigos y vivir momentos inolvidables.</h3>
              </p>
            </div>
        </main>
        <div class="destino1">
            <a class="menu" href="./paquete.html#Cataratas" target="_blank"><h3>CATARATAS</h3></a>
            <!-- <h3>CATARATAS</h3> -->
        </div>
        <div class="destino2">
          <a class="menu" href="./paquete.html#Salta" target="_blank"><h3>SALTA</h3></a>
        </div>
        <div class="destino3">
            <a class="menu" href="./paquete.html#Jujuy" target="_blank"><h3>JUJUY</h3></a>
        </div>
        <div class="destino4">
            <a class="menu" href="./paquete.html#Buenos aires" target="_blank"><h3>BUENOS AIRES</h3></a>
        </div>
        <div class="destino5">
            <a class="menu" href="./paquete.html#Mendoza" target="_blank"><h3>MENDOZA</h3></a>
        </div>
        <div class="destino6">
            <a class="menu" href="./paquete.html#Bariloche" target="_blank"><h3>BARILOCHE</h3></a>
        </div>
        <div class="destino7">
            <a class="menu" href="./paquete.html#Calafate" target="_blank"><h3>CALAFATE</h3></a>
        </div>
        <div class="destino8">
            <a class="menu" href="./paquete.html#Usuhaia" target="_blank"><h3>USUHAIA</h3></a>
        </div>
        
    </div>
    <script src="seleccion.js"></script>
</body>
<iframe src="Footer.html" frameborder="0" width="100%" height="100"></iframe>
</html>