<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Stactic/css/paquete.css" />
    <title>Paquetes La Buena Vida</title>
    <link rel="shortcut icon" href="../Stactic/Assets/imagenes/ico.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
  </head>
  <body>
    <header >
      <label class="labe_hamburguesa header" for="menu_hamburguesa">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="35"
          height="35"
          fill="currentColor"
          class="list_icon"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
          />
        </svg>
      </label>

      <input
        class="menu_hamburguesa"
        type="checkbox"
        name=""
        id="menu_hamburguesa"
      />

      <div class="container">
        
      </div>
      
        <nav>
          <a class="menu1" href="main_Index.html">Inicio</a>
          <a class="menu1" href="Viajes.html">Actividades</a>
          <a class="menu1" href="paquete.html">Paquetes</a>
          <a class="menu1" href="Nosotros.html">Nosotros</a>
          <a class="menu1" href="Reseñas.html">Reseñas</a>
          <a class="menu1" href="Tu Opinion.html">Deja tu opinión</a>
        </nav>
      
    </header>
    <div class="contenedorlogo">
      <a class="logo" href="../Index.html"><img class="logo" src="../Stactic/Assets/logo.png" alt="logo" /></a>
    </div>
    <br />
    <br />

    <main>
      <h1 class="title">Paquetes turísticos</h1>
      <div class="contenedor1">
        <div class="slider-frame">
          <!-- <h2>Mendoza</h2> -->
          <h2 id="mendoza">Mendoza</h2>

          <ul class="destinos">
            <li>
              <img src="../Stactic/Assets/imagenes/imagenesMendoza/Mendoza (1).jpg" alt="" />
            </li>
            <li>
              <img src="../Stactic/Assets/imagenes/imagenesMendoza/mendoza-carrusel.jpg" alt="" />
            </li>
            <li>
              <img
                src="../Stactic/Assets/imagenes/imagenesMendoza/mendoza-carrusel1.jpg"
                alt=""
              />
            </li>
            <li><img src="../Stactic/Assets/imagenes/imagenesMendoza/Mendoza.1.jpg" alt="" /></li>
          </ul>

          <h2>
            Paquete turístico por 4 días, 3 noches de alojamiento con desayuno,
            vuelos y traslados.
          </h2>
          <p id="parrafo">
            Mendoza es una ciudad de la región de Cuyo en Argentina y es el
            corazón de la zona vitivinícola argentina, famosa por sus Malbecs y
            otros vinos tintos. Sus distintas bodegas ofrecen degustaciones y
            visitas guiadas. La ciudad tiene calles amplias y frondosas rodeadas
            de edificios modernos y art déco, y con plazas más pequeñas que
            rodean la Plaza Independencia, sitio del Museo Municipal de Arte
            Moderno subterráneo, que exhibe arte moderno y contemporáneo.
          </p>

          <ol>
            <li class="i"><i class="fa-brands fa-avianex"></i> Aereos.</li>
            <br />
            <li class="i"><i class="fa-solid fa-hotel"></i> Hotel.</li>
            <br />
            <li class="i"><i class="fa-solid fa-mug-saucer"></i> Desayuno.</li>
            <br />
            <li class="i"><i class="fa-solid fa-bus"></i> Traslados.</li>
            <br />
          </ol>
          <br />
          <button class="a">
            <a href="Contacto.html">+ Info</a>
          </button>
        </div>
        <div class="slider-frame">
          <h2>Jujuy</h2>

          <ul>
            <li><img src="../Stactic/Assets/imagenes/imagenesJujuy/jujuy.jpg" alt="" /></li>
            <li><img src="../Stactic/Assets/imagenes/imagenesJujuy/jujy.2.jpg" alt="" /></li>
            <li><img src="../Stactic/Assets/imagenes/imagenesJujuy/jujuy.3 (1).jpg" alt="" /></li>
            <li><img src="../Stactic/Assets/imagenes/imagenesJujuy/jujuy.4 (1).jpg" alt="" /></li>
          </ul>

          <h2>
            Paquete turístico por 4 días, 3 noches de alojamiento con desayuno,
            vuelos y traslados.
          </h2>
          <p id="parrafo">
            Hablar de cosas que hacer en Jujuy es pensar en la Quebrada de
            Humahuaca antes que nada. Estos pequeños pueblos entre montañas
            rojizas, airampos y cardones, declarados Patrimonio de la Humanidad
            por la UNESCO, no solo son unos de los mejores lugares para visitar
            en Argentina por su espectacular entorno natural, sino también por
            las tradiciones culturales que conservan.
          </p>

          <ol>
            <li><i class="fa-brands fa-avianex"></i> Aereos.</li>
            <br />
            <li><i class="fa-solid fa-hotel"></i> Hotel.</li>
            <br />
            <li><i class="fa-solid fa-mug-saucer"></i> Desayuno.</li>
            <br />
            <li><i class="fa-solid fa-bus"></i> Traslados.</li>
            <br />
          </ol>
          <br />
          <button class="a">
            <a href="Contacto.html"> + Info </a>
          </button>
        </div>

        <div class="slider-frame">
          <h2>Salta</h2>

          <ul>
            <li>
              <img
                src="../Stactic/Assets/imagenes/imagenesSalta/800px-Salta_-_Capital_-_Salta_-_Cabildo_de_la_Ciudad_de_Salta.jpg"
                alt=""
              />
            </li>
            <li><img src="../Stactic/Assets/imagenes/imagenesSalta/Salta.1.jpg" alt="" /></li>
            <li>
              <img
                src="../Stactic/Assets/imagenes/imagenesSalta/Vista_panorámica_de_Salta_2011-03-22.jpg"
                alt=""
              />
            </li>
            <li>
              <img
                src="../Stactic/Assets/imagenes/imagenesSalta/Iglesia_San_Francisco,_Salta,_Argentina_-_panoramio.jpg"
                alt=""
              />
            </li>
          </ul>

          <h2>
            Paquete turístico por 4 días, 3 noches de alojamiento con desayuno,
            vuelos y traslados.
          </h2>
          <p id="parrafo">
            Salta es a la vez una provincia del noroeste de Argentina y la
            ciudad más grande de esa región, y en un viaje de 3 días tendrás
            tiempo para conocerlas a ambas. Explore la arquitectura colonial de
            la ciudad y los bulliciosos mercados, luego viaje al campo para
            beber vino y hacer senderismo por las montañas. Esto es lo que hacer
            con 3 días en Salta.
          </p>
          <ol>
            <li><i class="fa-brands fa-avianex"></i> Aereos.</li>
            <br />
            <li><i class="fa-solid fa-hotel"></i> Hotel.</li>
            <br />
            <li><i class="fa-solid fa-mug-saucer"></i> Desayuno.</li>
            <br />
            <li><i class="fa-solid fa-bus"></i> Traslados.</li>
            <br />
          </ol>
          <br />
          <button class="a">
            <a
              href="Contacto.html"
              target="_blank"
              rel="noopener noreferrer"
              >+ Info
            </a>
          </button>
        </div>
        <div class="slider-frame">
          <h2 id="Cataratas">Cataratas</h2>
          <ul>
            <li>
              <img
                src="../Stactic/Assets/imagenes/imagenesCataratas/istockphoto-498015615-1024x1024.jpg"
                alt=""
              />
            </li>
            <li>
              <img
                src="../Stactic/Assets/imagenes/imagenesCataratas/istockphoto-496540104-1024x1024.jpg"
                alt=""
              />
            </li>
            <li>
              <img
                src="../Stactic/Assets/imagenes/imagenesCataratas/istockphoto-469565176-1024x1024.jpg"
                alt=""
              />
            </li>
            <li>
              <img
                src="../Stactic/Assets/imagenes/imagenesCataratas/istockphoto-135854468-1024x1024.jpg"
                alt=""
              />
            </li>
          </ul>

          <h2 class="Cataratas">
            Paquete turístico por 4 días, 3 noches de alojamiento con desayuno,
            vuelos y traslados.
          </h2>
          <p id="parrafo">
            Las magníficas Cataratas del Iguazú, una de las Siete Maravillas del
            Mundo, están conformadas por 275 saltos de agua que caen desde las
            más diversas alturas. La más alta, de 80 metros, es conocida como la
            Garganta del Diablo. Un contexto vegetal inigualable enmarca a uno
            de los paisajes naturales más opulentos del mundo: las Cataratas del
            Iguazú. Se trata de más de 2 km de cascadas que superan los 70
            metros de altura, una manifestación espectacular de uno de los
            recursos cada vez más escasos del planeta: el agua.
          </p>

          <ol>
            <li><i class="fa-brands fa-avianex"></i> Aereos.</li>
            <br />
            <li><i class="fa-solid fa-hotel"></i> Hotel.</li>
            <br />
            <li><i class="fa-solid fa-mug-saucer"></i> Desayuno.</li>
            <br />
            <li><i class="fa-solid fa-bus"></i> Traslados.</li>
            <br />
          </ol>
          <br />
          <button class="a">
            <a href="Contacto.html"> + Info </a>
          </button>
        </div>

        <div class="slider-frame">
          <h2>Calafate</h2>

          <ul>
            <li><img src="../Stactic/Assets/imagenes/imagenesCalafate/calafate.jpg" alt="" /></li>
            <li><img src="../Stactic/Assets/imagenes/imagenesCalafate/calafate.jpg" alt="" /></li>
            <li>
              <img
                src="../Stactic/Assets/imagenes/imagenesCalafate/P.-Moreno-Tolkeyen-1024x768 calafate.jpg"
                alt=""
              />
            </li>
            <li>
              <img
                src="../Stactic/Assets/imagenes/imagenesCalafate/Tolkeyen-Patagonia-Turismo-1024x681calafate.jpg"
                alt=""
              />
            </li>
          </ul>

          <h2>
            Paquete turístico por 4 días, 3 noches de alojamiento con desayuno,
            vuelos y traslados.
          </h2>
          <p id="parrafo">
            El Calafate es una ciudad cerca del borde del Campo de Hielo
            Patagónico Sur en la provincia argentina de Santa Cruz. Es conocida
            principalmente como el acceso al Parque Nacional Los Glaciares,
            hogar del enorme glaciar Perito Moreno, cuyo dinámico paisaje de
            hielo es popular para el excursionismo y el turismo. Un moderno
            centro interpretativo llamado Glaciarium sirve de introducción a los
            numerosos glaciares de la región.
          </p>

          <ol>
            <li><i class="fa-brands fa-avianex"></i> Aereos.</li>
            <br />
            <li><i class="fa-solid fa-hotel"></i> Hotel.</li>
            <br />
            <li><i class="fa-solid fa-mug-saucer"></i> Desayuno.</li>
            <br />
            <li><i class="fa-solid fa-bus"></i> Traslados.</li>
            <br />
          </ol>
          <br />
          <button class="a">
            <a href="Contacto.html"> + info </a>
          </button>
        </div>

        <div class="slider-frame">
          <h2>Usuahia</h2>

          <ul>
            <li>
              <img
                src="../Stactic/Assets/imagenes/imagenesUsuahia/ushuaia-galerias993.jpg"
                alt=""
              />
            </li>
            <li>
              <img
                src="../Stactic/Assets/imagenes/imagenesUsuahia/ushuaia-galerias798.jpg"
                alt=""
              />
            </li>
            <li>
              <img
                src="../Stactic/Assets/imagenes/imagenesSalta/Catedral_de_Salta_Capital.jpg"
                alt=""
              />
            </li>
            <li>
              <img
                src="../Stactic/Assets/imagenes/imagenesUsuahia/costanera-ushuaia2.jpg"
                alt=""
              />
            </li>
          </ul>

          <h2>
            Paquete turístico por 4 días, 3 noches de alojamiento con desayuno,
            vuelos y traslados.
          </h2>
          <p id="parrafo">
            Ushuaia es una ciudad turística de Argentina. Se ubica en el
            archipiélago de Tierra del Fuego, el extremo austral de Sudamérica,
            apodado el "Fin del Mundo". Esta ciudad con mucho viento, ubicada en
            una escarpada colina, está rodeada de los montes Martial y el canal
            Beagle. Es una vía de acceso a los cruceros hacia la Antártida y a
            los recorridos cerca de la Isla Yécapasela, conocida como la "Isla
            Pingüino" por sus colonias de esta especie.
          </p>

          <ol>
            <li><i class="fa-brands fa-avianex"></i> Aereos.</li>
            <br />
            <li><i class="fa-solid fa-hotel"></i> Hotel.</li>
            <br />
            <li><i class="fa-solid fa-mug-saucer"></i> Desayuno.</li>
            <br />
            <li><i class="fa-solid fa-bus"></i> Traslados.</li>
            <br />
          </ol>
          <br />
          <button class="a">
            <a href="Contacto.html">
              + Info
            </a>
          </button>
        </div>
        <div class="slider-frame">
          <h2>Buenos aires</h2>

          <ul>
            <li>
              <img src="../Stactic/Assets/imagenes/imagenesBsAs/usina-del-arte-5.jpg" alt="" />
            </li>
            <li>
              <img src="../Stactic/Assets/imagenes/imagenesBsAs/usina-del-arte-5.jpg" alt="" />
            </li>
            <li>
              <img src="../Stactic/Assets/imagenes/imagenesBsAs/buenos-aires168.jpg" alt="" />
            </li>
            <li>
              <img src="../Stactic/Assets/imagenes/imagenesBsAs/buenos-aires122.jpg" alt="" />
            </li>
          </ul>

          <h2>
            Paquete turístico por 4 días, 3 noches de alojamiento con desayuno,
            vuelos y traslados.
          </h2>
          <p id="parrafo">
            Buenos Aires es la gran capital cosmopolita de Argentina. Su centro
            es la Plaza de Mayo, rodeada de imponentes edificios del siglo XIX,
            incluida la Casa Rosada, el icónico palacio presidencial que tiene
            varios balcones. Entre otras atracciones importantes, se incluyen el
            Teatro Colón, un lujoso teatro de ópera de 1908 con cerca de 2,500
            asientos, y el moderno museo MALBA, que exhibe arte latinoamericano.
          </p>

          <ol>
            <li><i class="fa-brands fa-avianex"></i> Aereos.</li>
            <br />
            <li><i class="fa-solid fa-hotel"></i> Hotel.</li>
            <br />
            <li><i class="fa-solid fa-mug-saucer"></i> Desayuno.</li>
            <br />
            <li><i class="fa-solid fa-bus"></i> Traslados.</li>
            <br />
          </ol>
          <br />
          <button class="a">
            <a 
              href="Contacto.html"
              target="_blank"
              rel="noopener noreferrer"
            >
              + info</a
            >
          </button>
        </div>
      </div>

      <br />
    </main>
  </body>
  <iframe src="Footer.html" frameborder="0" width="100%" height="100"></iframe>
</html>
