<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Stactic/css/Tu Opinion.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <a class="menu" href="main_Index.html">Inicio</a>
        <a class="menu" href="Viajes.html">Actividades</a>
        <a class="menu" href="paquete.html">Paquetes</a>
        <a class="menu" href="Nosotros.html">Nosotros</a>
        <a class="menu" href="Reseñas.html">Reseñas</a>
        <a class="menu" href="Tu Opinion.html">Deja tu opinión</a>
        <a class="menu" href="Contacto.html">Contacto</a>
      </nav>
    </header>
    <div class="contenedorlogo">
      <a href="../Index.html"
        ><img class="logo" src="../Stactic/Assets/logo.png" alt="logo"
      /></a>
    </div>

    <h1 class="Contanos">Contanos tu experiencia</h1>
    <form
      id="opinion"
      name="opinion"
      class="formulariocontacto"
      method="POST"
    >
      <div class="name">
        <label for="nombre">Nombre</label>
        <input
          id="nombre"
          type="text"
          required
          placeholder="Ingrese su nombre"
          name="nombre"
        />
      </div>
      <div class="apellido">
        <label for="apellido">Apellido</label>
        <input
          id="apellido"
          type="text"
          required
          placeholder="Ingrese su apellido"
          name="apellido"
        />
      </div>
      <div class="telefono">
        <label for="telefono">Telefono</label>
        <input
          id="telefono"
          type="number"
          required
          placeholder="Ingrese su telefono"
          name="telefono"
        />
      </div>
      <label for="mail">E-mail</label>
      <input
        id="mail"
        required
        type="text"
        placeholder="Ingrese su correo electronico"
        name="mail"
      />
      

      <div class="comentarios">
        <label for="comentario">Contanos tu experiencia</label>
        <textarea
          required
          class="experiencia"
          name="comentario"
          id="comentario"
          rows="15"
          cols="60"
        ></textarea>
      </div>
      <p id="error"></p>
      <input class="menu botoncito" type="submit" id="bl" value="Enviar" />
    </form>
    <script src="../Stactic/JS/opinion.js"></script>
  </body>
  <iframe src="Footer.html" frameborder="0" width="100%" height="100"></iframe>
</html>
